body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

.fruid-container {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 1px 0 #adadad;
  background-color: #333;
  /* Đặt màu nền của thanh menu bar */
  z-index: 100;

}


.navbar-brand {
  color: #ccc;
  font-size: 15px;
}

#main-body{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  
}

.anh-film{
  width: 190px;
  height: 275px;
  width: 100%;
  
}








/* title */
.box-film{
  position: relative;
}
.film-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 0;
  /* Khoảng cách padding trên và dưới của tiêu đề (đặt padding bên trái và phải là 0) */
  width: 100%;
  /* Tiêu đề tràn qua ảnh theo chiều ngang */
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .39) 34%, #000 87%);

}

.film-info{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}